.navbar {
    width: 100%;
    background: rgb(240, 237, 237);
    border-bottom: black solid 5px;
    /* background-image: url('./abstract.jpg'); */
    font-family: 'Lobster Two', cursive;
    text-align: center;
    font-size: 3rem;
    color: rgb(204, 67, 25);
    padding: 20px 0 20px 0;
    margin-bottom: 50px;
}